<footer class="footer mt-auto py-3 bg-light">
	<div class="container">
		<span class="text-muted">Количество посещений за сессию: {{ counter }}</span>
		<p class="text-muted">(c)2024. Все права защищены.</p>
	</div>
</footer>
